<!DOCTYPE html>
<html>
<head>
    <:include file="../common/css.html" title="管理"/>
    <style>
        #schoolActivityTable + .layui-table-view .layui-table-body tbody > tr > td {
            padding: 0;
        }

        #schoolActivityTable + .layui-table-view .layui-table-body tbody > tr > td > .layui-table-cell {
            height: 48px;
            line-height: 48px;
        }

        .tb-img-circle {
            width: 40px;
            height: 40px;
            cursor: zoom-in;
            border-radius: 50%;
            border: 2px solid #dddddd;
        }

        /** 查看详情弹窗样式 */
        .paper-info-group {
            padding: 15px 25px;
        }

        .paper-info-group h3 {
            font-weight: bold;
            color: #000000;
            padding-bottom: 8px;
        }

        .paper-info-group p {
            color: #666;
            padding-bottom: 12px;
            font-size: 16px;
        }

        .paper-info-group .paper-info-group-imgs {
            padding-top: 5px;
        }

        .paper-info-group .paper-info-group-imgs img {
            margin-right: 15px;
            margin-bottom: 15px;
            cursor: zoom-in;
        }

        .paper-info-group .paper-info-group-imgs img:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 数据表格 -->
            <table id="schoolActivityTable" lay-filter="schoolActivityTable"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="schoolActivityTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"
       data-dropdown="#schoolActivityTbDelDrop{{d.LAY_INDEX}}" no-shade="true">报名</a>
    <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide"
         id="schoolActivityTbDelDrop{{d.LAY_INDEX}}"
         style="max-width: 200px;white-space: normal;min-width: auto;margin-left: 10px;">
        <div class="dropdown-anchor"></div>
        <div class="dropdown-popconfirm-title">
            <i class="layui-icon layui-icon-help"></i>
            确定要报名吗？
        </div>
        <div class="dropdown-popconfirm-btn">
            <a class="layui-btn" btn-cancel>取消</a>
            <a class="layui-btn layui-btn-normal" lay-event="signUp">确定</a>
        </div>
    </div>
</script>

<!-- 查看详情弹窗 -->
<script type="text/html" id="eDialogInfoDialog">
    <div class="paper-info-group">
        <h3>社团id</h3>
        <p>{{d.clubId}}</p>
        <h3>日期</h3>
        <p>{{d.startTime}}</p>
        <h3>时间</h3>
        <p>{{d.endTime}}</p>
        <h3>活动介绍</h3>
        <p style="word-wrap: break-word; word-break: normal;">{{d.actIntroduce}}</p>
    </div>
</script>

<:include file="../common/js.html"/>
<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'dropdown', 'laytpl'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var laytpl = layui.laytpl;

        /* 渲染表格 */
        var insTb = tableX.render({
            elem: '#schoolActivityTable',
            url: 'schoolActivity/page',
            page: true,
            toolbar: ['<p>',
                // '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                // '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers'},
                {field: 'clubName', title: '社团名称', sort: true},
                {field: 'actName', title: '活动名称', sort: true, width:200},
                {field: 'actIcon', title: '活动icon', templet: function (d) {
                        var url = d.actIcon || '../../../assets/images/head.jpg';
                        return '<img data-index="' + (d.LAY_INDEX - 1) + '" src="' + url + '" class="tb-img-circle" tb-img alt=""/>';
                    }, align: 'center', sort: true},
                // {field: 'actIntroduce', title: '活动介绍', sort: true},
                {field: 'actType', title: '活动类型', templet: function (d) {
                        if (d.actType == 0)
                            return '<span class="layui-badge layui-badge-green">会议</span>';
                        if (d.actType == 1)
                            return '<span class="layui-badge layui-badge-blue">活动</span>';
                    }, align: 'center', sort: true},
                // {field: 'maxPeopleNumber', title: '', sort: true},
                // {field: 'nowPeopleNumber', title: '', sort: true},
                // {field: 'leaderId', title: '', sort: true},
                // {field: 'status', title: '', sort: true},
                {field: 'startTime', title: '日期', sort: true, width:150},
                {field: 'endTime', title: '时间', sort: true, width:150},
                {
                    field: 'createTime', title: '创建时间', templet: function (d) {
                        return util.toDateString(d.createTime);
                    }, sort: true
                },
                {title: '操作', toolbar: '#schoolActivityTbBar', align: 'center', width: 200, minWidth: 200}
            ]]
        });

        /* 表1点击图片放大 */
        $(document).off('click.tbImg').on('click.tbImg', '[tb-img]', function () {
            var imgList = table.cache['schoolActivityTable'].map(function (d) {
                return {
                    alt: d.actName,
                    src: d.actIcon || '../../../assets/images/head.jpg'
                }
            });
            layer.photos({photos: {data: imgList, start: $(this).data('index')}, shade: .1, closeBtn: true});
        });




        /* 表格工具条点击事件 */
        table.on('tool(schoolActivityTable)', function (obj) {
            if ('detail' === obj.event) { // 修改
                showDetailModel(obj.data);
            } else if ('signUp' === obj.event) { // 删除
                console.log(obj.data);
                var loadIndex = layer.load(2);
                // 删除转换字段
                delete obj.data.createTime;
                delete obj.data.updateTime;
                $.post('schoolActivity/signUpAct', obj.data, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2, anim: 6});
                    }
                });
            }
        });


        /* 删除 */
        function doDel(obj) {
            if (obj.ids) {  // 批量删除
                admin.confirm('确定要删除选中数据吗？', function (i) {
                    layer.close(i);
                    var loadIndex = layer.load(2);
                    admin.req('schoolActivity/removeBatch', JSON.stringify(obj.ids), function (res) {
                        layer.close(loadIndex);
                        if (0 === res.code) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload({page: {curr: 1}});
                        } else {
                            layer.msg(res.msg, {icon: 2, anim: 6});
                        }
                    }, 'post');
                });
            } else {  // 单个删除
                var loadIndex = layer.load(2);
                $.get('schoolActivity/remove', {id: obj.data.actId}, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2, anim: 6});
                    }
                });
            }
        }

        function showDetailModel(data) {
            laytpl(eDialogInfoDialog.innerHTML).render(data, function (html) {
                admin.open({
                    type: 1,
                    title: '查看详情',
                    area: '550px',
                    content: html,
                    success: function () {
                    }
                });
            });
        }

    });
</script>
</body>
</html>